body {

  background-color: rgba(118, 99, 141, 0.644);
}
html{
    background-color: rgba(199, 178, 170, 0.377);
}

#root{
  margin: 30px auto;
  /* background: rgba(67, 163, 80, 0.363); */
  padding: 30px;
  border-radius: 8px;
  padding: 18px;
  width: 1120px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 10px;
}


.delAll{
  border-radius: 10px;
    text-align: center;
    position: relative;
  top: 0px;
  left: 95%;  
}
.delSelectedItem{
    border-radius: 10px;
    text-align: center;
    position: relative;
  top: 0px;
  left: 95%;   
}
.Links{
  text-align: center;
}
a.Links {
  color: #fff;
  text-align: center;
  background-color:#fff;
}
.link{
    text-align: center;
    background-color: #cf9e6577 ;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    top: 50px;
}
.Links :hover{
  background-color: rgba(138, 141, 180, 0.473);
}

.favItem{
        height: 100px;
    padding: 15px;
    background-color: #cf9e6554;
    border-radius: 10px;
    text-align: center;
  color: #cf9e65;
      margin: 15px;
  text-justify: auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.InputCountry{
border: 0;
width: 400px;
height: 50px;
padding: 0 20px;
margin: 20px;
border-radius: 10px;
box-shadow: rgba(123, 158, 33, 0.692);

/* color:;
background-color: ; */
   }
.ButtonCountry{
width: 100px;
height: 50px;
border: 0;
border-radius: 10px;

   }
.ButtonCountry:hover{
color: #fff;
background-color: #cf9e65ad;
border-color: #cf9e65;
transform: rotate(-2deg);

   }
.listCountry{
    text-align: center;
}
   
.delet{
    text-align: center;
     margin-right: 20px;
}
   
img {
    border: 2px solid rgb(138, 28, 28);
    width: 214px;
    height: 150px;
    
}


.Add-to-list{
   border-radius: 10px;
    text-align: center;
    position: relative;
    top: 0px;
    left: 40%;
}
/* .DeletNum{
    border-radius: 10px;
    text-align: center;
    position: relative;
  top: 20px;
  left: 35%;
}
.Watch{
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: -34px;
  left: 41%;
}
.modify{
       border-radius: 10px;
    text-align: center;
    position: relative;
    top: -40px;
    left: 42%;
}*/
/* .selectedItem{
           border-radius: 10px;
    text-align: center;
    position: relative;
    top: -40px;
    left: 43%; 
} */
.Toggle-filter-none{
  display: none;
    display: none;
    text-align: center;
  color: #cf9e65;
  text-justify: auto;
}
.Toggle-filter-display{
  display: inline-block;
    text-align: center;
  color: black;
  background-color: #7c65cf;
      height: 400px;
    width: 1050px;
}
.Toggle2-filter-none{
  display: none;
    display: none;
    text-align: center;
  color: #cf9e65;
  text-justify: auto;
}
.Toggle2-filter-display{
  display: inline-block;
    text-align: center;
  color: black;
  background-color: #cf9e6554;
      height: 400px;
    width: 1050px;
}
.favItemRed{
  /*  */
            height: 100px;
    padding: 15px;
    background-color: #7c65cf;
    border-radius: 10px;
    text-align: center;
  color: black;
      margin: 15px;
  text-justify: auto;
}
.favItemRed input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.favItemRed input :focus{
outline: none;
} 
.favItemRed .DeletNum{
    border-radius: 10px;
    text-align: center;
    position: relative;
  top: 20px;
  left: 35%;
}
.favItemRed .Watch{
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: -34px;
  left: 41%;
}
.favItemRed .modify{
       border-radius: 10px;
    text-align: center;
    position: relative;
    top: -40px;
    left: 42%;
}
.favItemRed .selectedItem{
           border-radius: 10px;
    text-align: center;
    position: relative;
    top: -40px;
    left: 43%;
}
.favItemBlue{
          height: 100px;
    padding: 15px;
    background-color: #cf9e6554;
    border-radius: 10px;
    text-align: center;
  color: black;
      margin: 15px;
  text-justify: auto;
}
.favItemBlue input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.favItemBlue input :focus{
outline: none;
} 
.favItemBlue .DeletNum{
    border-radius: 10px;
    text-align: center;
    position: relative;
  top: 20px;
  left: 35%;
}
.favItemBlue .Watch{
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: -34px;
  left: 41%;
}
.favItemBlue .modify{
       border-radius: 10px;
    text-align: center;
    position: relative;
    top: -40px;
    left: 42%;
}
.favItemBlue .selectedItem{
           border-radius: 10px;
    text-align: center;
    position: relative;
    top: -40px;
    left: 43%;
}
