body {
  
  background-color: rgba(118, 99, 141, 0.644);  
}
.big{
  background-image: url('https://image.flaticon.com/icons/svg/744/744502.svg');
  background-repeat: no-repeat;
  background-position: right;
}
html{
    background-color: rgba(199, 178, 170, 0.377);
    
}

#root{
  margin: 30px auto;
  /* background: rgba(67, 163, 80, 0.363); */
  padding: 30px;
  border-radius: 8px;
  padding: 18px;
  width: 1120px;
  height: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  border-radius: 10px;
}
.tab{
  text-align: center;
  background-color: #cbcfdf77;
}
.delAll{
  border-radius: 10px;
    text-align: center;
    position: relative;
  top: 0px;
  left: 95%;  
}
.delSelectedItem{
    border-radius: 10px;
    text-align: center;
    position: relative;
  top: 0px;
  left: 95%;   
}
.link a {
    color: #fff;
    /* border: 16px groove transparent; */
    text-decoration: none;
    /* background-color: #815829c2; */
    background-color: transparent;
}
.link{
    text-align: center;
    background-color: #609add77;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    top: 50px;

}

.favItem{
        height: 100px;
    padding: 15px;
    background-color: #cf9e6554;
    border-radius: 10px;
    text-align: center;
  color: #cf9e65;
      margin: 15px;
  text-justify: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.InputCountry{
border: 0;
width: 400px;
height: 50px;
padding: 0 20px;
margin: 20px;
border-radius: 10px;
box-shadow: rgba(123, 158, 33, 0.692);
   }
.ButtonCountry{
width: 100px;
height: 50px;
border: 0;
border-radius: 10px;

   }
.ButtonCountry:hover{
color: #fff;
background-color: #cf9e65ad;
border-color: #cf9e65;
transform: rotate(-2deg);

   }
.listCountry{
    text-align: center;
}  
.delet{
    text-align: center;
     margin-right: 20px;
}  
img {
    border: 2px solid rgb(138, 28, 28);
    width: 214px;
    height: 150px;  
}
.Add-to-list{
   border-radius: 10px;
    text-align: center;
    position: relative;
    top: 0px;
    left: 40%;
}
.DeletNum{
    border-radius: 10px;
    text-align: center;
    position: relative;
  top: 20px;
  left: 35%;
}
.Watch{
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: -20px;
  left: 44%;
}
/* .modify{
       border-radius: 10px;
    text-align: center;
    position: relative;
    top: -21px;
    left: 91%
} */
 .selectedItem{
           border-radius: 10px;
    text-align: center;
    position: relative;
    top: -22px;
    left: 45% 
}
.Toggle-filter-none{
  display: none;
}
.Toggle-filter-display{
  display: inline-block;
    text-align: center;
  color: black;
  background-color:  #8d96bb8f;;
      height: 400px;
    width: 1050px;
        margin-top: inherit;
}
.favItem{
    height: 100px;
    padding: 15px;
    background-color:  #cbcfdf77;;
    border-radius: 10px;
    color: black;
    margin: 10px;
    margin-right: 10px;
    text-align: center;
}
.favItem input{
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 18px;
}
.favItem input :focus{
outline: none;
} 
